h1 {
  font-family: sans-serif;
  font-size: 48px!important;
  font-weight: 700!important;
  line-height: 56px!important;
  color: #3e4450;
}

h2 {
  color: #858ea1;
  font-size: 24px!important;
  margin-bottom: 30px!important;
}

.fst-italic {
  font-style: italic;
}

.navbar-nav a:hover,
.navbar-nav .active,
.navbar-nav .active:focus,
.navbar-nav li:hover>a {
  color: #16df7e!important;
}

#header {
  background-color: #fff;
  padding: 10px 0;
}

.logo {
  font-size: 32px!important;
  line-height: 1!important;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #5f687b!important;
}

.navbar-nav .login-button,
.navbar-nav .register-button {
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 4px;
  line-height: 1;
  color: #5f687b!important;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #cdd1d9;
}

.navbar-nav .login-button:hover,
.navbar-nav .register-button:hover,
.email-form button:hover {
  background-color: #007aff!important;
  color: #fff!important;
}

#home .register-button, #home .login-button,
#registration-form .register-button,
vaadin-login-form vaadin-button[theme~="submit"] {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 10px 30px;
  margin-right: 25px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #16df7e;
  box-shadow: 0 8px 28px rgba(22, 223, 126, 0.45);
}

#home .register-button:hover,
#home .login-button:hover,
#registration-form .register-button:hover,
vaadin-login-form vaadin-button[theme~="submit"]:hover {
  background-color: #007aff!important;
  color: #fff!important;
  text-decoration: none;
}

.advantages-list li {
  list-style: none;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: #f0f1f3;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #5f687b;
  position: relative;
  z-index: 2;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

#contact .email-form {
  width: 100%;
  border-top: 3px solid #16df7e;
  border-bottom: 3px solid #16df7e;
  padding: 30px;
  background-color: #f9f9fa;
}

#contact .email-form .form-group {
  padding-bottom: 8px;
}

#contact .email-form input,
.contact .email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

#contact .email-form input {
  height: 44px;
}

#contact .email-form textarea {
  padding: 10px 12px;
}

#contact .email-form button {
  background: #16df7e;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.email-form .row div:first-child {
  padding-left: 0;
}

.email-form .row #name {
  width: 100%;
}

.email-form .row div:last-child {
  padding-right: 0;
}

.email-form .row #email {
  width: 100%;
}

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

#footer {
  margin-top: 60px;
  background-color: #f3f4f6;
  color: #5f687b;
  font-size: 14px;
  position: relative;
}

#footer .footer-bottom {
  border-top: 1px solid #d9dce2;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

vaadin-login-form-wrapper::part(form-title) {
  color: #858ea1;
  font-size: 24px;
  margin: 0 auto 30px;
}

vaadin-message::part(message) {
  overflow-wrap: anywhere;
}